<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.frame.datacreator.mapper.MediaMapper">
  <resultMap id="BaseResultMap" type="com.service.frame.datacreator.model.Media">
    <!--@mbg.generated-->
    <!--@Table media-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="normal_file_name" jdbcType="VARCHAR" property="normalFileName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="small_file_name" jdbcType="VARCHAR" property="smallFileName" />
    <result column="restaurant_id" jdbcType="VARCHAR" property="restaurantId" />
    <result column="instagram_id" jdbcType="VARCHAR" property="instagramId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name", normal_file_name, "path", reg_date, small_file_name, restaurant_id, instagram_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from media
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from media
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.service.frame.datacreator.model.Media">
    <!--@mbg.generated-->
    insert into media (id, "name", normal_file_name, 
      "path", reg_date, small_file_name, 
      restaurant_id, instagram_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{normalFileName,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{regDate,jdbcType=TIMESTAMP}, #{smallFileName,jdbcType=VARCHAR}, 
      #{restaurantId,jdbcType=VARCHAR}, #{instagramId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.service.frame.datacreator.model.Media">
    <!--@mbg.generated-->
    insert into media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        "name",
      </if>
      <if test="normalFileName != null">
        normal_file_name,
      </if>
      <if test="path != null">
        "path",
      </if>
      <if test="regDate != null">
        reg_date,
      </if>
      <if test="smallFileName != null">
        small_file_name,
      </if>
      <if test="restaurantId != null">
        restaurant_id,
      </if>
      <if test="instagramId != null">
        instagram_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="normalFileName != null">
        #{normalFileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="smallFileName != null">
        #{smallFileName,jdbcType=VARCHAR},
      </if>
      <if test="restaurantId != null">
        #{restaurantId,jdbcType=VARCHAR},
      </if>
      <if test="instagramId != null">
        #{instagramId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.service.frame.datacreator.model.Media">
    <!--@mbg.generated-->
    update media
    <set>
      <if test="name != null">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="normalFileName != null">
        normal_file_name = #{normalFileName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        "path" = #{path,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        reg_date = #{regDate,jdbcType=TIMESTAMP},
      </if>
      <if test="smallFileName != null">
        small_file_name = #{smallFileName,jdbcType=VARCHAR},
      </if>
      <if test="restaurantId != null">
        restaurant_id = #{restaurantId,jdbcType=VARCHAR},
      </if>
      <if test="instagramId != null">
        instagram_id = #{instagramId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.service.frame.datacreator.model.Media">
    <!--@mbg.generated-->
    update media
    set "name" = #{name,jdbcType=VARCHAR},
      normal_file_name = #{normalFileName,jdbcType=VARCHAR},
      "path" = #{path,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      small_file_name = #{smallFileName,jdbcType=VARCHAR},
      restaurant_id = #{restaurantId,jdbcType=VARCHAR},
      instagram_id = #{instagramId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByRestaurantId" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from media
    where restaurant_id = #{restaurantId,jdbcType=VARCHAR}
    </select>
</mapper>